<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1
        class="pt-2 font-bold text-lg-start"
        style="color: #0032a0; font-size: larger"
      >
        DESCRIPTION
      </h1>
      <hr class="mt-2" />
    </div>

    <div class="col-md-12 h-[48vh] overflow-y-auto">
      <div class="py-2 px-2">
        <p class="pt-1 text-justify">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum
          consequatur a sit nostrum cumque quia libero! Molestiae id deleniti
          esse labore cumque voluptates magnam asperiores necessitatibus, quam
          expedita, explicabo tempora iste eaque commodi odio dolor! Eum aliquam
          veniam quibusdam hic voluptatum eligendi consequuntur quaerat modi
          magnam, in suscipit reprehenderit. Excepturi, beatae rem, ab modi
          molestiae accusamus qui porro voluptas repudiandae adipisci placeat
          consectetur sit libero. Corrupti earum quos impedit voluptas
          voluptates cumque alias itaque nisi nemo, maxime, fugiat ex vero quae
          error fuga mollitia hic repellendus architecto corporis? Cumque, iste
          commodi. Ipsum mollitia ut, autem dolorum sed eos perspiciatis
          ducimus.
        </p>
        <p class="pt-1 text-justify">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum
          consequatur a sit nostrum cumque quia libero! Molestiae id deleniti
          esse labore cumque voluptates magnam asperiores necessitatibus, quam
          expedita, explicabo tempora iste eaque commodi odio dolor! Eum aliquam
          veniam quibusdam hic voluptatum eligendi consequuntur quaerat modi
          magnam, in suscipit reprehenderit. Excepturi, beatae rem, ab modi
          molestiae accusamus qui porro voluptas repudiandae adipisci placeat
          consectetur sit libero. Corrupti earum quos impedit voluptas
          voluptates cumque alias itaque nisi nemo, maxime, fugiat ex vero quae
          error fuga mollitia hic repellendus architecto corporis? Cumque, iste
          commodi. Ipsum mollitia ut, autem dolorum sed eos perspiciatis
          ducimus.
        </p>
        <p class="pt-1 text-justify">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum
          consequatur a sit nostrum cumque quia libero! Molestiae id deleniti
          esse labore cumque voluptates magnam asperiores necessitatibus, quam
          expedita, explicabo tempora iste eaque commodi odio dolor! Eum aliquam
          veniam quibusdam hic voluptatum eligendi consequuntur quaerat modi
          magnam, in suscipit reprehenderit. Excepturi, beatae rem, ab modi
          molestiae accusamus qui porro voluptas repudiandae adipisci placeat
          consectetur sit libero. Corrupti earum quos impedit voluptas
          voluptates cumque alias itaque nisi nemo, maxime, fugiat ex vero quae
          error fuga mollitia hic repellendus architecto corporis? Cumque, iste
          commodi. Ipsum mollitia ut, autem dolorum sed eos perspiciatis
          ducimus.
        </p>

        <p class="pt-1 text-justify">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum
          consequatur a sit nostrum cumque quia libero! Molestiae id deleniti
          esse labore cumque voluptates magnam asperiores necessitatibus, quam
          expedita, explicabo tempora iste eaque commodi odio dolor! Eum aliquam
          veniam quibusdam hic voluptatum eligendi consequuntur quaerat modi
          magnam, in suscipit reprehenderit. Excepturi, beatae rem, ab modi
          molestiae accusamus qui porro voluptas repudiandae adipisci placeat
          consectetur sit libero. Corrupti earum quos impedit voluptas
          voluptates cumque alias itaque nisi nemo, maxime, fugiat ex vero quae
          error fuga mollitia hic repellendus architecto corporis? Cumque, iste
          commodi. Ipsum mollitia ut, autem dolorum sed eos perspiciatis
          ducimus.
        </p>
      </div>
    </div>
  </div>
</div>
