:host {
  background-color: #FFFEDB;
}

/* Apply background color to inner elements */
:host ::ng-deep .card {
  background-color: #FFFEDB;
}


.card-header {
   
  background-color: #EAB704;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 8px;
  }
  
  .title {
    color: white;
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
  }
  
  .dropdown-width {
    width: 180px; 
  }
  

  h5{
    font-weight: bold;
    font-size: 15px;
    padding-top: 15px;
    color:#312e81;
  }

  .image1
  {
    height: 70px;
    width: 120px;
  }

  .image2
  {
    height: 150px;
    width: 220px;
  }

  .h-1
  {
    height: 35px;
    width: 120px;
  }

  .h-2
  {
    height: 45px;
    width: 80px;
  }

  /* ========for popup=========== */
  .fixed {
    position: fixed;
  }
  .inset-0 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .flex {
    display: flex;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .hover\:cursor-pointer {
    cursor: pointer;
  }
  
  .hover\:cursor-pointer:hover {
    color: #0056b3; /* Change icon color on hover */
  }
  .card-header {
    background: #020024;
    background: linear-gradient(90deg, rgb(0, 52, 129) 0%, rgb(46 111 195) 35%, rgb(113, 178, 211) 100%);
    
  }
  