<div class="p-3">
    <div class="flex justify-between items-center">
      <h1 class="text-xl font-extrabold text-[#0032A0]">Request a Demo</h1>
      <button (click)="onClose()" class="font-bold text-black text-lg">X</button>
    </div>
    <div class="py-4">
        <div class="video-container">
            <video controls>
            <source src="https://www.chemrobotics.com/agropat/uploads/web_videos/PharmaVetPat_ A-Whole-New-World-by-ChemRobotics-Pharma.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
  