.button{
  font-size: 0.9rem;
}
.full-screen-modal{
    border-radius: 50%;;
}
::-webkit-scrollbar {
    width: 4px;
    height:4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #312e81;
  }


  