:host {
    display: block;
    background-color:#F5FBFF;
    width: 100%;
    height: 100%;
}
h1
{
  font-size: 14px;
  color:#312e81;
}
.custom-card-body {
  background-color: #fff; /* अपनी पसंद का रंग चुनें */
  padding: 1rem;
  border-radius: 0.5rem;
}
p{
  padding-bottom: 20px;
  white-space: pre;
  text-wrap: wrap;
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 7px;
  height:7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #312e81;
}
.card-header {
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  justify-content: space-between;
}