<div class="main-container" [ngClass]="(!showResult) ? 'chem-linear-gradient': ''">
    <ng-container *ngIf="user; else elseBlock">
        <!-- Search Section -->
        <div>
            <chem-pharma-database-search
                *ngIf="!showResult"
                (setLoadingState)="handleLoading($event)"
                (showResultFunction)="handleShowResult($event)"
                (chemSearchResults)="handleSearchResults($event)"
                (priviledgeModal)="openPriviledgeModal($event)"
            ></chem-pharma-database-search>
        </div>

        <div *ngIf="showResult" class="py-5">
            <!-- Result Sections -->
            <chem-search-results
              (backFunction)="handleBackButton($event)"
              [allDataSets]="allDataSets"
              [searchData]="searchData"
              [CurrentAPIBody]="CurrentAPIBody"
              (showResultFunction)="handleShowResult($event)"
              (setLoadingState)="handleSetLoading($event)"
              (showDataResultFunction)="handleSearchResults($event)"
            ></chem-search-results>
        </div>

        <!-- Loader -->
        <app-loader *ngIf="loading" class="w-screen h-screen"></app-loader>
    </ng-container>
    <ng-template #elseBlock>
        <div class="home-body">
            <section class="container pt-3">
                <!-- first section start -->
                <div class="top section design">
                  <div class="top_section text-center">
                    <div class="pharma-logo">
                        <img src="assets/images/home/PharmVetPat.svg" alt="PharmVetPat" class="img">
                      </div>
                </div>
                
                
                    <div class="container-box">
                    <!-- Card Section -->
                    <div class="col-12 col-lg-11 col-md-11 card-box mx-auto">
                        <div class="card-body">
                        <h4 class="mt-3 font-weight-bold "style="font-family: 'Roboto', 'Arial', sans-serif;
                        font-size: 2rem;
                        font-weight: 500;">Login or Register Today</h4>
                        <p class="text-muted p-—-inter-—-18pt py-3" style="font-family:'Roboto', 'Arial', sans-serif ;">
                            Login or Register Today Discover new opportunities with our intelligence database for <br>
                            the agrochemical, pharmaceutical and fine chemical industry
                        </p>
                        <div class="mb-4">
                            <button 
                                data-bs-toggle="modal"
                                data-bs-target="#sign-in"
                                data-toggle="modal" data-target="#login_modal" 
                                class="btn btn-primary mr-3">Login
                            </button>
                            <button class="btn btn-outline-primary">
                                <a target="_blank" class="nabbar_menu" href="https://chemrobotics.com/registration">Register</a>
                            </button>
                        </div>
                        <div class="find-more-design">
                            <h5 class="h4-—inter-—-18pt" style="font-family: 'Roboto', 'Arial', sans-serif;
                            font-size: 2rem;
                            font-weight: 500;">Find out more</h5>
                            <p class="text-muted  py-3">View our video guide or request a demo</p>
                            <a href="https://www.chemrobotics.com/demo_request?access_key=NDA3" alt="request a demo" target="_blank">
                            <button class="btn btn-light m-1 border btn-request-demo" >Request a Demo</button></a>
                            <button class="btn btn-primary m-1 px-4 py-2 text-white rounded" (click)="videoTutorial()">Tutorial</button>
                        </div>
                        </div>
                    </div>
            
                    <!-- Video Section -->
                    <div *ngIf="playVideo" class="video-container">
                        <video controls>
                        <source src="https://www.chemrobotics.com/agropat/uploads/about_us/section_1_video_1739261112879.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                    </div>
                    </div>
                </div>

                <!-- second section start -->
                <div class="heading-section">
                    <div class="container text-center">
                      <h1 class="h2-—-inter-—-34pt">
                        <span class="d-block" style="font-family: 'Roboto', 'Arial', sans-serif;">ChemRobotics<sup>™</sup>Pharma Database</span>
                      </h1>
                      <p class="py-3">
                        ChemRobotics™ Pharma Database Pharmaceutical / veterinary patent and regulatory database which provides information on
                      </p>
                    </div>
                  <div class="content-section">
                    <div class="row">
                      <!-- Column 1 -->
                      <div class="col-md-4 mb-4 mb-md-0 px-3">
                        <div class="py-1">New and Existing Active Pharmaceutical Ingredients</div>
                        <div class="py-1">Existing Intellectual Property (Patent Landscape)</div>
                        <div class="py-1">Combination</div>
                        <div class="py-1">Developer</div>
                        <div class="py-1">Innovator</div>
                      </div>
                
                      <!-- Column 2 -->
                      <div class="col-md-4 mb-4 mb-md-0 px-3">
                        <div class="py-1">Drug Product Approval Information (Orange Book Data)</div>
                        <div class="py-1">DMF holder (USDMF & ESMF)</div>
                        <div class="py-1">Formulation</div>
                        <div class="py-1">Manufacturer</div>
                        <div class="py-1">Regulatory Requirement</div>
                      </div>
                
                      <!-- Column 3 -->
                      <div class="col-md-4 px-3">
                        <div class="py-1">Routes of Synthesis (Product patent routes / commercial routes of synthesis and other disclosed routes)</div>
                        <div class="py-1">Mechanism of Action (MoA)</div>
                        <div class="py-1">Method of Use (MOU)</div>
                        <div class="py-1">Toxicity and Safety Data</div>
                      </div>
                    </div>
                  </div>
                </div>
            
                <!-- Features Section -->
                <div class="key_featured_design">
                      <!-- Row 1 -->
                      <div class="row align-items-center py-lg-5">
                          <!-- Text Content -->
                          <div class="col-md-6 col-12 text-content">
                              <h3 class="h4-—inter-—-18pt py-3" style="font-family: 'Roboto', 'Arial', sans-serif;">Key Features</h3>
                              <ul>
                                  <li class="mb-3">
                                      More than 25000 active pharmaceutical ingredients route of synthesis with their intermediates are disclosed. The route of synthesis also classified as Commercial Routes of Synthesis (ROS), Chinese Routes of Synthesis (ROS), Innovator’s Routes of Synthesis (ROS) etc.
                                  </li>
                                  <li class="mb-3">Readily accessible DMF or EPDF information</li>
                                  <li class="mb-3">
                                      Patent Landscape – Technology patent landscape for every Active pharmaceutical ingredient, which can be exported in the excel format
                                  </li>
                                  <li class="mb-3">
                                      Non-Patent Literature – Provides the access of critical important non-patent literature on polymorph, analytical data, particle size and process disclosed in non-patent literature
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-1">
                          </div>
                          <!-- Image Content -->
                          <div class="col-md-5 col-12 text-center">
                              <img src="assets/images/home/key-features.png" alt="Key Features" class="img-fluid rounded shadow">
                          </div>
                      </div>
            
                      <!-- Row 2 -->
                      <div class="row align-items-center py-lg-5">
                          <!-- Image Content -->
                          <div class="col-md-5 col-12 text-center">
                              <img src="assets/images/home/whats-inclues.png" alt="What’s Included?" class="img-fluid rounded shadow">
                          </div>
                          <!-- Text Content -->
                          <div class="col-md-1">
                          </div>
                          <div class="col-md-6 col-12 text-content">
                              <h3 class="h4-—inter-—-18pt py-3" style="font-family: 'Roboto', 'Arial', sans-serif;">What’s Included?</h3>
                              <ul>
                                  <li class="mb-3">
                                    Physicochemical properties. More than 30 properties with special emphasis on API polymorphic data, particle size etc for market potential API’s
                                  </li>
                                  <li class="mb-3">Product identification with CAS No. / Developmental code / EPA Codes</li>
                                  <li class="mb-3">
                                    Compound Patent / Innovator / Developer Information
                                  </li>
                                  <li class="mb-3">
                                    Commercialisation / Regulatory information / Launch information
                                  <li class="mb-3">
                                    Generic Constraining Date (GCD) - Search filters for off-patent Agrochemicals
                                  </li>
                                  <li class="mb-3">
                                    Reporting of new discovery candidates - Developmental Molecules (Phase-III, Phase-II, Phase-I and Pre-clinical candidates)
                                  </li>
                              </ul>
                          </div>
                      </div>
                </div>

                <!-- FAQ Section -->
                <div class="accordion-section py-lg-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 col-lg-8 col-md-8 mx-auto heading-section">
                        <h3 class="text-center text-primary font-weight-bold mb-4" style="font-weight: bold; font-size: 22px;">Learn More</h3>
                        <div id="accordion">
                          
                          <!-- FAQ Item 1 -->
                          <div class="accordion-card">
                            <div class="card-header" id="headingZero">
                              <h5 class="mb-0">
                                <button 
                                (click)="openCloseAccordion('accordionItem1', $event)" 
                                class="btn btn-link" 
                                [ngClass]="{'active': activeAccordion === 'accordionItem1'}">
                                Orange Book Data (US Approvals)
                              </button>
                              </h5>
                            </div>
                            <div id="collapseZero" [ngClass]="{'show': activeAccordion === 'accordionItem1', 'collapse': activeAccordion !== 'accordionItem1'}" aria-labelledby="headingZero">
                              <div class="card-body">
                                <ul>
                                  <li>Physicochemical properties. More than 30 properties with special emphasis on API polymorphic data, particle size etc for market potential APIs.</li>
                                  <li>Product identification with CAS No. / Developmental code / EPA Codes.</li>
                                  <li>Compound Patent / Innovator / Developer Information.</li>
                                  <li>Commercialisation / Regulatory information / Launch information.</li>
                                  <li>Generic Constraining Date (GCD) - Search filters for off-patent Agrochemicals.</li>
                                  <li>Reporting of new discovery candidates - Developmental Molecules (Phase-III, Phase-II, Phase-I and Pre-clinical candidates).</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                
                          <!-- FAQ Item 2 -->
                          <div class="accordion-card">
                            <div class="card-header" id="headingZeroPlus">
                              <h5 class="mb-0">
                                <button 
                                (click)="openCloseAccordion('accordionItem2', $event)" 
                                class="btn btn-link" 
                                [ngClass]="{'active': activeAccordion === 'accordionItem2'}">
                                Technical Routes
                              </button>
                              </h5>
                            </div>
                            <div id="collapseZeroPlus" [ngClass]="{'show': activeAccordion === 'accordionItem2', 'collapse': activeAccordion !== 'accordionItem2'}" aria-labelledby="headingZeroPlus">
                              <div class="card-body">
                                <ul>
                                  <li>Physicochemical properties. More than 30 properties with special emphasis on API polymorphic data, particle size etc for market potential APIs.</li>
                                  <li>Product identification with CAS No. / Developmental code / EPA Codes.</li>
                                  <li>Compound Patent / Innovator / Developer Information.</li>
                                  <li>Commercialisation / Regulatory information / Launch information.</li>
                                  <li>Generic Constraining Date (GCD) - Search filters for off-patent Agrochemicals.</li>
                                  <li>Reporting of new discovery candidates - Developmental Molecules (Phase-III, Phase-II, Phase-I and Pre-clinical candidates).</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                
                          <!-- FAQ Item 3 -->
                          <div class="accordion-card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button 
                                 (click)="openCloseAccordion('accordionItem3', $event)" 
                                  class="btn btn-link" 
                                  [ngClass]="{'active': activeAccordion === 'accordionItem3'}">
                                  Technical Supplier
                                </button>
                              </h5>
                            </div>
                            <div id="collapseOne" [ngClass]="{'show': activeAccordion === 'accordionItem3', 'collapse': activeAccordion !== 'accordionItem3'}" aria-labelledby="headingOne">
                              <div class="card-body">
                                <ul>
                                  <li>Physicochemical properties. More than 30 properties with special emphasis on API polymorphic data, particle size etc for market potential APIs.</li>
                                  <li>Product identification with CAS No. / Developmental code / EPA Codes.</li>
                                  <li>Compound Patent / Innovator / Developer Information.</li>
                                  <li>Commercialisation / Regulatory information / Launch information.</li>
                                  <li>Generic Constraining Date (GCD) - Search filters for off-patent Agrochemicals.</li>
                                  <li>Reporting of new discovery candidates - Developmental Molecules (Phase-III, Phase-II, Phase-I and Pre-clinical candidates).</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
            
                <!-- Get Started Today! -->
                <section class="pb-5 mb-5">
                  <div class="container text-center">
                    <img 
                      src="assets/get_start_logo.svg" 
                      alt="Get Started" 
                      class="img-fluid mb-4"
                      style="max-width: 140px;margin: 0 auto;"
                    >
                    <h3 class="text-primary font-weight-bold display-5" style="font-weight: bold;font-size: 22px;">
                      Get Started Today!
                    </h3>
                    <p class="mt-3">
                      ChemRobotics Pharma Database supports generic and<br> innovator product development to
                      <a href="#" class="text-primary text-decoration-underline">maintain profitability</a>.
                    </p>
                    <div class="mt-4 d-flex justify-content-center gap-3 flex-wrap">
                      <button class="btn btn-outline-primary">
                        <a target="_blank" class="nabbar_menu" href="https://chemrobotics.com/registration">Register</a>
                    </button>
                      <a href="https://www.chemrobotics.com/demo_request?access_key=NDA3" alt="request a demo" target="_blank">
                        <button class="btn btn-light m-1 border btn-request-demo" >Request a Demo</button></a>
                    </div>
                  </div>
                </section>
            </section>
        </div>
    </ng-template>
</div>

<!-- Priviledge Modals -->
<div
  #priviledgeModal
  class="modal fade bg-black bg-opacity-50"
  id="priviledge"
  tabindex="-1"
  aria-labelledby="priviledge"
  aria-hidden="true"
>
  <div class="modal-dialog text-center modal-dialog-centered">
    <div class="modal-content p-x-15 bg_1">
      <div class="dis-block-2">
        <!-- <div class="p-top-32">
          <span class="text_blue_9">Sign In</span>
        </div> -->
      </div>

      <div class="">
        <div class="flex justify-between p-3">
          <h1 class="text-lg font-bold">Priviledge Alert</h1>
          <button (click)="closeModal()" class="text-lg font-bold text-black">
            X
          </button>
        </div>
        <hr />
        <div class="p-3">
          <h1>{{ LimitValue }}</h1>
        </div>
        <hr />
        <div class="py-3">
          <div class="flex justify-center items-center gap-3 pb-3">
            <div class="">
              <button
                type="button"
                class="text_white_1 bg-gray-700 h-[50px] px-8 py-2 rounded-full text-white font-bold"
                (click)="closeModal()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>