.para {
    color: blue;
    font-weight: bold;
    


}

/* Add to your CSS file or component styles */
.custom-alert {
  background-color: #2d7033;
  color: black;
  padding: 10px 20px;
  border: 1px solid #025f11;
  border-radius: 5px;
}

.btnchemical{
  background-color:#FACC15 ;
}

.desc {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
p{
    white-space: pre;
    text-wrap: wrap;
}

::-webkit-scrollbar {
    width: 7px;
    height:7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #312e81;
  }
  .card-header {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    justify-content: space-between;
  }