.filter{
    margin-left: 65rem;
    margin-top: -2.1rem;
}
.btn-outline-primary:hover{
  background: #bddaf2;
 background: linear-gradient(90deg, rgba(189, 218, 242, 1) 0%, rgba(56, 130, 194, 1) 50%, rgba(6, 109, 199, 1) 100%);
 }

@media screen and (max-width: 1400px) {
  .filter{
    margin-left: 48rem;
  }
    
}