.card-header {
  background: linear-gradient(to right, #d8f4bd, #c0edab);
  font-size: 17px;
  color: #005e1c;
}

.card-body {
  background-color: #f7fcf2;
}

h6 {
  color: #1f2937;
  font-size: 13px;
  font-weight: 600;
}
.card-header {
    background: #020024;
    background: linear-gradient(90deg, rgb(0, 52, 129) 0%, rgb(46 111 195) 35%, rgb(113, 178, 211) 100%);
    justify-content: space-between;
  }
p {
  font-size: 14px;
  color: #1b1b1b;
}
