<!-- Custom Simple Pagination for filtered data -->
<nav *ngIf="isFilterApplied && count > 25" aria-label="Filtered page navigation" class="w-full flex py-3 justify-center">
  <ul class="inline-flex -space-x-px text-sm">
    <li>
      <button 
        (click)="handlePreviousClick()" 
        [disabled]="MainPageNo === 1" 
        class="flex items-center justify-center px-2 md:px-3 h-8 md:h-8 ms-0 leading-tight border-2 text-[#0032A0] hover:text-white border-[#0032A0] hover:bg-[#0032A0]">
        Previous
      </button>
    </li>
    <li class="flex items-center justify-center px-4">
      Page {{ MainPageNo }} of {{ totalPages }}
    </li>
    <li>
      <button 
        (click)="handleNextclick1()" 
        [disabled]="MainPageNo === totalPages" 
        class="flex items-center justify-center px-2 md:px-3 h-8 md:h-8 leading-tight text-[#0032A0] border-2 hover:text-white border-[#0032A0] hover:bg-[#0032A0]">
        Next
      </button>
    </li>
  </ul>
</nav>

<!-- Full Pagination for unfiltered data -->
<nav *ngIf="!isFilterApplied && count > 25" aria-label="Page navigation example" class="w-full flex py-3 justify-center">
  <ul class="inline-flex -space-x-px text-sm">
    <!-- Existing Full Pagination Buttons Here -->
    <li>
      <button
        (click)="handleFirstClick()"
        class="flex items-center justify-center px-2 md:px-3 h-8 md:h-8 ms-0 leading-tight rounded-s-lg border-2 text-[#0032A0] hover:text-white border-[#0032A0] hover:bg-[#0032A0]"
      >
        First
      </button>
    </li>
    <li>
      <button
        (click)="handlePreviousClick()"
        class="flex items-center justify-center px-2 md:px-3 h-8 md:h-8 ms-0 leading-tight border-2 text-[#0032A0] hover:text-white border-[#0032A0] hover:bg-[#0032A0]"
      >
        Previous
      </button>
    </li>

    <li *ngFor="let value of PageArray; let i = index">
      <button
        (click)="handlePageClick(value)"
        [ngClass]="{ 'bg-[#0032A0] text-white': MainPageNo === value }"
        class="flex items-center justify-center px-2 md:px-3 h-8 md:h-8 leading-tight border-2 text-[#0032A0] hover:text-white border-[#0032A0] hover:bg-[#0032A0]"
      >
        {{ value }}
      </button>
    </li>
    <li>
      <button
        (click)="handleNextclick()"
        class="flex items-center justify-center px-2 md:px-3 h-8 md:h-8 leading-tight text-[#0032A0] border-2 hover:text-white border-[#0032A0] hover:bg-[#0032A0]"
      >
        Next
      </button>
    </li>
    <li>
      <button
        (click)="handleLastClick()"
        class="flex items-center justify-center px-2 md:px-3 h-8 md:h-8 leading-tight text-[#0032A0] border-2 hover:text-white border-[#0032A0] hover:bg-[#0032A0] rounded-e-lg"
      >
        Last
      </button>
    </li>
  </ul>
</nav>
