:host{
    background-color: #CFE9B4;
}
.headertext
{
    display: flex;
    justify-content: space-between; 
  
}

h1{
    font-weight: bold;
    font-size: 20px;
}
h5{
    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
}

.image1
{
    padding: 15px;
}

.more     
{
    display: inline-block; 
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 20px;
  }


  .textmore {
    height: 50px;
    width: 150px;
    
  }
  .btn1
  {
    background-color: blue;
    color: white;
    height: 50px;
    width: 150px;   
    font-weight: bold;
    font-size: 17px; 
  }

  hr {
    border: 5px blue solid !important;
    border-radius: 20px !important;
    color: blue;
    background-color: blue;
    
}
.image1
{
  height: 100px;
  width: 200px;
}
.image2
{
  height: 70px;
  width: 100px;
  padding-top: 15px;
}

.image3
{
  height: 120px;
  width: 300px;
}